.search {
    height: 49px;
    margin-bottom: 16px;
    display: center;
}

header {    
    h1:hover {
        cursor: pointer;
    }
    
    display: flex;
    flex-direction: column;
    margin-left: 21px;
}

.newsList {
    // background-color: blue;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    .newsItem{
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.characterList{
    width: 94%;
    list-style: none;
    text-align: left;
}